<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<div th:fragment="headerdashboard">
    <!-- this is header -->
    <div class="row">
        <div class="col-md-12">
            <img class="center-block img-fluid d-block rounded" src="images/header2.png"></img>
        </div>
    </div>
    <div class="row py-2">

        <div class="col-md-8" align="right">
            <form id="landing" th:action="@{/Landing}"  method="get">
                <button class="btn btn-success" type="submit" style="margin-left:40%;" >Goto Landing</button>
            </form>
        </div>
        <div class="col-md-3" align="center">
            <!--<button class="btn btn-success" style="margin-left:40%;"><a th:href="@{/Landing}" id="settingslink" style="color:white;" >Goto Landing</a></button>-->

            <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
               <!-- Roles: <span sec:authentication="principal.authorities"></span> |-->

            </span>

        </div>
        <div class="col-md-1" align="left">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>

</div>

</body>
</html>