<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ResourceComparison</title>
    <link rel="stylesheet" href="css/jquery.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-4.0.0-alpha.6.css" type="text/css"></link>

    <style>
    body {
      font-family: Lucida Grande, Tahoma, sans-serif;
      background-color: #29324e;
      line-height: 1.3;
    }

    .cd-tabs {
      position: relative;
      width: 90%;
      height: 100%;
      margin: 0.5em auto;
      background-color: #ffffff;
      font-size: 12px;
    }

    header {
      position: relative;
      height: 160px;
      line-height: 180px;
      text-align: center;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    header h1 {
      font-size: 100%;
    }

    #leftcol {
      background-color: white;
      width: 5px;
    }

    table.display {
      table-layout: fixed;
    }

    table.display td {
      overflow: hidden;
    }

    div.rounded_border {
      padding: 1%;
      border-top-left-radius: 4px 4px;
      border-bottom-left-radius: 4px 4px;
      border-top-right-radius: 4px 4px;
      border-bottom-right-radius: 4px 4px;
      border-color: gray;
      border-width: 1px;
      border-style: solid;
      margin-right: 1%;
      margin-bottom: 1%;
      -moz-box-shadow: inset 0 0 8px #4d94ff;
      -webkit-box-shadow: inset 0 0 8px #4d94ff;
      box-shadow: inset 0 0 8px #4d94ff;
    }
  </style>
    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="js/jscookie.js"></script>
    <script th:inline="javascript">
     /*<![CDATA[*/
    function getQueryVariable(variable) {
        var blank = "";
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return unescape(pair[1]);
            }
        }
        return blank;
    }

    function valAlphaNumeric(value) {
        if (value.match(/[^a-zA-Z0-9]/g) == null) {
            return true;
        } else {
            return false;
        }
    }

    function valAlphabets(value) {
        if (value.match(/[^a-zA-Z]/g) == null) {
            return true;
        } else {
            return false;
        }
    }

    function valAlphaNumericUnderScore(value) {
        if (value.match(/[^a-zA-Z0-9|^_|^\-|^\s]/g) == null) {
            return true;
        } else {
            return false;
        }

    }

    function valNumeric(value) {
        if (value.match(/[^0-9]/g) == null) {
            return true;
        } else {
            return false;
        }
    }
    /*]]>*/
  </script>
    <script th:inline="javascript">
    /*<![CDATA[*/
    (function($) {
    $(document).ready(function() {
        if (valAlphaNumeric(getQueryVariable('ClientName')) && valAlphaNumeric(getQueryVariable('ProjectName')) && valAlphaNumeric(getQueryVariable('Scenario')) && valAlphabets(getQueryVariable('AnalysisType')) && valNumeric(getQueryVariable("RunID")) && valNumeric(getQueryVariable("BaselineRunID")) && valAlphaNumericUnderScore(getQueryVariable("TransactionName")) && valNumeric(getQueryVariable("CurrentSampleValue")) && valNumeric(getQueryVariable("BaselineSampleValue"))) {
            var clientname = getQueryVariable("ClientName");
            $('#client').html('<b>Client Name :</b>' + clientname);
            var projectname = getQueryVariable("ProjectName");
            $('#project').html('<b>Project Name :</b>' + projectname);
            var scenarioname = getQueryVariable("Scenario");
            $('#scenario').html('<b>Scenario Name :</b>' + scenarioname);
            var runID = getQueryVariable("RunID");
            var baselineRunID = getQueryVariable("BaselineRunID");
            var txnName = getQueryVariable("TransactionName");
            $('#transaction').html('<b>Transaction :</b>' + txnName);
            $('#currid').html('<b>Current RunID :</b> ' + runID);
            $('#blineid').html('<b>Baseline RunID :</b> ' + baselineRunID);
            $('#header').html('Resource Comparison');
            var jServices = jQuery.noConflict();
            jServices.ajaxSetup({
                contentType: "application/jsonp; charset=UTF-8",
                headers:{"Authorization" : "Bearer " + Cookies.get('token')}
            });
            var hostName = (window.location.origin).split(":");
            var APIPort = '80';
            if (!isNaN(hostName[2])) {
                APIPort = hostName[2];
            } else {
                if (hostName[0] === 'https') {
                    APIPort = '443';
                }
            }
            var apiURL = hostName[0] + ':' + hostName[1] + ':' + APIPort + '/cxoptimize/api/compareResources' + window.location.search.substring(0);
            //var apiURL = "http://localhost:8085" +  '/compareResources' + window.location.search.substring(0);
            var content = '';
            var imageVal = '';
            jServices.getJSON(apiURL, function(json) {
                var tempName = '';
                var currValue = 0;
                var prevValue = 0;
                for (var i = 0; i < json.duration.length; i++) {
                    tempName = '';
                    currValue = 0;
                    prevValue = 0;
                    if (json.duration[i].name.length > 75) {
                        tempName = json.duration[i].name.substring(0, 74) + '...';
                    } else {
                        tempName = json.duration[i].name;
                    }
                    if (isNumber(json.duration[i].curr)) {
                        currValue = parseFloat(json.duration[i].curr);
                    } else {
                        currValue = json.duration[i].curr;
                    }
                    if (isNumber(json.duration[i].prev)) {
                        prevValue = parseFloat(json.duration[i].prev);
                    } else {
                        prevValue = json.duration[i].prev;
                    }
                    if (json.duration[i].status == 'Up') {
                        imageVal = '<img src=\"images/up_red.png\" alt=\"Up\" Style=\"cursor: pointer;width:18px;height:20px;\" />';
                    } else if (json.duration[i].status == 'Down') {
                        imageVal = '<img src=\"images/down_green.png\" alt=\"Down\" Style=\"cursor: pointer;width:18px;height:20px;\" />';
                    } else if (json.duration[i].status == 'No Change') {
                        imageVal = '<img src=\"images/no-change-icon.jpg\" alt=\"No Change\" Style=\"cursor: pointer;width:16px;height:16px;\" />';
                    } else if (json.duration[i].status == 'Removed') {
                        imageVal = '<img src=\"images/removed.png\" alt=\"Removed\" Style=\"cursor: pointer;width:16px;height:16px;\" />';
                    } else {
                        imageVal = '<img src=\"images/new.png\" alt=\"New\" Style=\"cursor: pointer;width:16px;height:16px;\" />';
                    }
                    content += '<tr><td><div title=' + json.duration[i].name + ' Style=\"text-align:left\" > ' + tempName + '</div></td><td>' + currValue + '</td><td>' + prevValue + '</td><td>' + json.duration[i].percnt + '</td><td>' + imageVal + '</td></tr>';
                }
                $('#durationRows').html(content);
                $('#duration').DataTable();
                var tempName = '';
                var currValue = 0;
                var prevValue = 0;
                content = '';
                for (var i = 0; i < json.size.length; i++) {
                    tempName = '';
                    currValue = 0;
                    prevValue = 0;
                    if (json.size[i].name.length > 75) {
                        tempName = json.size[i].name.substring(0, 74) + '...';
                    } else {
                        tempName = json.size[i].name;
                    }
                    if (isNumber(json.size[i].curr)) {
                        currValue = parseFloat(json.size[i].curr);
                    } else {
                        currValue = json.size[i].curr;
                    }
                    if (isNumber(json.size[i].prev)) {
                        prevValue = parseFloat(json.size[i].prev);
                    } else {
                        prevValue = json.size[i].prev;
                    }
                    if (json.size[i].status == 'Up') {
                        imageVal = '<img src=\"images/up_red.png\" alt=\"Up\" Style=\"cursor: pointer;width:18px;height:20px;\" />';
                    } else if (json.size[i].status == 'Down') {
                        imageVal = '<img src=\"images/down_green.png\" alt=\"Down\" Style=\"cursor: pointer;width:18px;height:20px;\" />';
                    } else if (json.size[i].status == 'No Change') {
                        imageVal = '<img src=\"images/no-change-icon.jpg\" alt=\"No Change\" Style=\"cursor: pointer;width:16px;height:16px;\" />';
                    } else if (json.size[i].status == 'Removed') {
                        imageVal = '<img src=\"images/removed.png\" alt=\"Removed\" Style=\"cursor: pointer;width:16px;height:16px;\" />';
                    } else {
                        imageVal = '<img src=\"images/new.png\" alt=\"New\" Style=\"cursor: pointer;width:16px;height:16px;\" />';
                    }
                    content += '<tr><td><div title=' + json.size[i].name + ' Style=\"text-align:left\" > ' + tempName + '</div></td><td>' + currValue + '</td><td>' + prevValue + '</td><td>' + json.size[i].percnt + '</td><td>' + imageVal + '</td></tr>';
                }
                $('#sizeRows').html(content);
                $('#size').DataTable();
            });
        }
    });
})(jQuery);

function isNumber(InString) {
    if (InString == null) return (false);
    if (InString.length == 0) return (false);
    var RefString = "1234567890.";
    for (Count = 0; Count < InString.length; Count++) {
        TempChar = InString.substring(Count, Count + 1);
        if (RefString.indexOf(TempChar, 0) == -1)
            return (false);
    }
    return (true);
}
     /*]]>*/
  </script>
</head>
<body class="bg-primary p-0">
<div class="p-0">
    <div class="container py-4">
        <div th:replace="fragments/header :: header"/>
        <div class="row">
            <div class="col-md-12">
                <h1 id="header" class="header" align="center" Style="color: #f8f7ee"></h1>
                <ol class="cd-tabs">
                    <div id="temp" Style="margin-bottom: 1em;margin-right: 3em;">
                        <div style="overflow: hidden;margin-bottom:0px">
                            <div style="width:100%;margin-left:auto;margin-right:auto;margin-top:40px;margin-bottom:0px">
                                <div class="rounded_border">
                                    <div style="height:40px">
                                        <table id="example1" class="display" cellspacing="0" width="90%" style="color:black;">
                                            <tr>
                                                <td align="left" id="client"></td>
                                                <td align="left" id="project"></td>
                                                <td align="left" id="scenario"></td>
                                                <td align="right" id="transaction"></td>
                                            </tr>
                                            <tr>
                                                <td align="left" colspan="2" id="blineid">
                                                </td>
                                                <td align="left" colspan="2" id="currid">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rounded_border">
                            <table id="duration" class="display" cellspacing="0" width="90%" style="color:black;">
                                <thead>
                                <tr>
                                    <th width="470" rowspan="2">Name</th>
                                    <th colspan="2">Duration(ms)</th>
                                    <th rowspan="2">Deviation (%)</th>
                                    <th rowspan="2">Status</th>
                                </tr>
                                <tr>
                                    <th>Current</th>
                                    <th>Baseline</th>
                                </tr>
                                </thead>
                                <tbody id="durationRows">
                                </tbody>
                            </table>
                        </div>
                        <div class="rounded_border">
                            <table id="size" class="display" cellspacing="0" width="90%" style="color:black;">
                                <thead>
                                <tr>
                                    <th width="470" rowspan="2">Name</th>
                                    <th colspan="2">Size(Bytes)</th>
                                    <th rowspan="2">Deviation (%)</th>
                                    <th rowspan="2">Status</th>
                                </tr>
                                <tr>
                                    <th>Current</th>
                                    <th>Baseline</th>
                                </tr>
                                </thead>
                                <tbody id="sizeRows">
                                </tbody>
                            </table>
                        </div>
                        <br></br>
                    </div>
                </ol>
            </div>
        </div>

    </div>
</div>


</body>
</html>